.board {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 auto;
    gap: 0.5rem;
    height: 180px;

    @media (min-width: 576px) {
        height: 230px;
    }
}