.wrapper {
    display: flex;
    flex: 1;
    padding: 2rem;
}

.list {
    --size: 110px;
    position: relative;
    flex: 1;
    margin: calc(var(--size) / 2);

    @media (min-width: 576px) {
        --size: 150px;
    }
}

.player {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    border: 2px solid;

    &._current {
        border-color: green;
    }

    &._looser {
        border-color: red;
    }

    &._active {
        box-shadow: 0 0 12px yellow;
    }

    &._inactive {
        opacity: 0.5;
    }
}
