.players {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    gap: 0.5rem;
}

.player {
    justify-content: space-between;
    align-items: center;

    .name {
        font-size: 2rem;
    }
}

.order {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}
