.wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    background: var(--root-background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 95dvw;
    max-height: 95dvh;
}
